<%- include('header') -%>

      <div class="box" id="heading">
             <h1><%= listTitle %></h1>
      </div>
      <div class="box">

    <%   items.forEach(i=>{  %>
        <p><%=i.name%></p>
    <%  })  %>



    <form class="item" action="/" method="POST">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off"/>
      <button type="submit" name="list" value=<%=listTitle %>>+</button>
    </form>
      </div>

<%- include('footer') -%>
